<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
    <h1>${msg}</h1>
<form method="post" action="/upload">
    <label>用户名：
        <input name="username" type="text">
    </label>
    <input name="file" type="file">
    <button type="submit">提交</button>
</form>

<button type="button" onclick="test()">测试@RequestBody</button>
</body>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function test() {
        let $user = {
            "username": "dzzhyk",
            "password": "123"
        };

        $.ajax({
            url: "/body",
            contentType: "application/json",
            method: "post",
            dataType: 'json',
            data: JSON.stringify($user),
            success: function (result) {
                console.log(result.msg);
            },
            error: function (result) {
                console.log(result.msg);
            }
        })
    }
</script>
</html>